.list {
  padding: 1em;
}
.list-title {
  font-size: 1.2em;

}

.list-marker {
  max-height: 500px;
  width: 100%;
  border-radius: 10px;
  background-color: brown;
}

@media (min-width:768px) {
  .list {
    width: 50%;
  }
}

