.error {
  margin: auto;
  width: 70%;
  background-color: rgba(51, 104, 94, 0.8);
  padding: 1.5rem;
  border-radius: 10px;

  .error-message {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
  }

  .error-image {
    position: absolute;
      top: 280px;
      left: 300px;
  }
}

