@use 'reset';
@use 'vars';


body {
  font-family: sans-serif;
  background-size: cover;
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-image: url('../assets/images/background.webp');
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
