.header {
  margin-bottom: 5em;
  &-top {
    display: flex;
    justify-content: space-between;

    .header_title {
      display: flex;
      align-items: center;
  
      &_text {
        font-weight: bold;
        color: #33685e;
      }
    }

    .hello-user-container {
      display: flex;
      align-items: center;
      font-style: italic;
      color: #33685e;
      font-weight: bold;
    }

    .nav-login {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
    
      .nav {
    
        &_button {
          background-color: #33685e;
          font-size: 1rem;
          color: white;
          border: none;
          border-radius: 5px;
          margin-right: 1rem;
        }
      }
    
      .login {
        &_icon {
          cursor: pointer;
          color: #33685e;
          margin-right: 1.5rem;
        }
      }

      .userzone {
        position: absolute;
        top: 70px;
        right: 25px;
        z-index: 2000;
        display: flex;
        flex-direction: column;
        background-color: whitesmoke;
        border: 1.5px solid #33685e;
        border-radius: 5px;
        padding: 1rem 2.2rem 1rem 1rem;

        &-close-button {
          cursor: pointer;
          font-size: 1.25rem;
          border: none;
          color: black;
          background-color: whitesmoke;
          width: 28px;
          position: absolute;
          bottom: 90px;
          left: 140px;
        } 

        &-profil-button {
          background-color: #33685e;
          font-size: 1rem;
          color: white;
          border: none;
          border-radius: 5px;
          margin-bottom: 1rem;
          padding: 0.5rem 0.75rem;
          width: 100%;
        }

        &-logout-button {
          background-color: rgb(190, 92, 92);
          font-size: 1rem;
          color: white;
          border: none;
          border-radius: 5px;
          padding: 0.5rem 0.75rem;
        }
      }
    }
  }

  &-bottom {
    text-align: left;
    font-style: italic;
    color: #33685e;
  }
}

@media screen and (max-width: 575px) {
  .header {
    &-top {
      
      .header_title {
        margin: 1em;
    
        &_logo {
          width: 40px;
        }
    
        &_text {
          padding: 0.2rem;
        }
      }

      .nav-login {

        .nav {
          a:nth-of-type(1) {
            display: none;
          }

          &_button {
            padding: 0.5rem;
          }
        }
      
        .login {
          &_icon {
            font-size: 2.3rem;
          }
        }
      }
    }

    &-bottom {
      margin: 0 1em;
    }
  }
};

@media screen and (min-width: 576px) and (max-width: 1199px) {
  .header {
    &-top {
  
      .header_title {
        margin: 1rem;
    
        &_logo {
          width: 50px;
        }
    
        &_text {
          font-size: 1.2rem;
          padding: 0.5rem;
        }
      }
  
      .nav-login {
      
        .nav {      
          &_button {
            padding: 0.5rem;
          }
        }
      
        .login {
          &_icon {
            font-size: 2.4rem;
          }
        }
      }
    }
  
    &-bottom {
      margin-left: 1.5em;
    }
  }
};


@media screen and (min-width: 1200px) {
  .header {
    &-top {
  
      .header_title {
        margin: 1.5rem 1.5rem 0 1.5rem;
    
        &_logo {
          width: 70px;
        }
    
        &_text {
          font-size: 1.5rem;
          padding: 0.7rem;
        }
      }
  
      .nav-login {        
        margin-top: 1rem;
        
        .nav {      
          &_button {
            padding: 0.5rem 0.75rem;
          }
        }
      
        .login {
          &_icon {
            font-size: 2.5rem;
          }
        }
      }
    }
  
    &-bottom {
      margin-left: 7em;
    }
  }
};
