
.dashboard__container {
  width: 70%;
  margin: auto;
  padding: var(--gutter);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.329);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  opacity: 1;
  text-shadow:rgba(0, 0, 0, 0.171) 0px 5px 5px ;
  font-style: italic;

  h1 {
    display: flex;
    justify-content: center;
    margin: auto;
    width:80%;
    font-size: xx-large;
    font-weight: bold;
    color: var(--color-primary);
    padding-bottom: var(--gutter);
    border-bottom: 1px solid var(--color-primary);
  }

  .picture-zone {
    margin-top: var(--gutter);
    display: none;
  }

  .dashboard-form {
    margin-bottom: var(--gutter);

    .dashboard-fields__blocks {
      display: flex;
      justify-content: space-evenly;
      align-items: baseline;
      margin-bottom: calc(var(--gutter)*3);
    }
  
  }

  .compost-infos-footer {
    display: flex;
    align-items: center;
    margin-top: 1rem;

    & p {
      margin-right: 1em;
    }

    .delete__button {
      background-color: var(--color-alert);
      font-size: medium;
      color: white;
      border: none;
      border-radius: 5px;
      margin-right: var(--gutter);
      padding: 0.3rem;
    }
  }
 
  .userInfos__block {
    padding: calc(var(--gutter)*3);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    .userInfos__input-element {
      display: flex;
      align-items: center;
      padding: var(--gutter);
      .input-field {
        margin-left: var(--gutter);
        padding: 0.3rem;
        border-radius: 5px;
      }
    }
    
  }

 
  
    .compost-infos__block {
      display: flex;
      flex-direction: column;
      padding: var(--gutter);
      align-items: center;
      background-color: rgba(255, 255, 255, 0.589);
      border-radius: 5px;


      .compost-infos__select {
        padding: var(--gutter);
        margin-bottom: calc(var(--gutter)*2.5);

        #newCompostType {
          padding: 0.3rem;
          font-weight: 600;
          border-radius: 5px;
          color: black;
        }

        .option-value {
          font-weight: 600;
          border: 1px solid black;
        }
      }

      .dashboard_searchLocation {
        display: flex;
        flex-direction: column;
        padding: var(--gutter);

        .input-label {
         text-align: left;
         margin-bottom: 1rem;
        }

        #newAddress {
          padding: 0.3rem;
          border-radius: 5px;
          width: 300px;
        }

      .dashboard_searchLocation_displayResults {
        position: relative;
        background-color: white;
        border-radius: .25rem;
        box-shadow: 0 2px 4px 0 rgba(34,36,38,.12),0 2px 10px 0 rgba(34,36,38,.15);
        border: 1px solid #d4d4d5;
    
        .dashboard_searchLocation_displayResults_item {
          position: relative;
          font-size: .8rem;
          font-weight: 600;
          padding: 0.85rem;
          border-bottom: 1px solid rgba(34,36,38,.1);
          cursor: pointer;
    
          &:hover {
              background-color: #f9fafb;
          }
        }
      }
    }
    .dashboard_validMessage {
      background-color: #00b74a;
      padding: var(--gutter);
      color: white;
      margin: var(--gutter);
      border-radius: .25rem;
    }


  }

  /* Elements séparés*/

  .section-title {
    width: 80%;
    font-weight: 800;
    font-size: x-large;
    margin-bottom: calc(var(--gutter)*2);
    padding-bottom: var(--gutter);
    border-bottom: 1px solid var(--color-primary);
    color: var(--color-primary);
  }

  .input-label {
    font-weight: 600;
    color: var(--color-primary);
  }

  .submit__button {
    background-color: var(--color-primary);
    font-size: large;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right:var(--gutter);
    padding: calc(var(--gutter)/2);
  }

  .delete__button {
    background-color: var(--color-alert);
    font-size: large;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: var(--gutter);
    padding: 0.35rem;
  }

  .button-block {
    display: flex;
    justify-content: space-evenly;
    padding-left: var(--gutter);
  }
 

  
}


/* Responsive */


@media screen and (max-width:1200px){
  .dashboard-fields__blocks {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin-bottom: var(--gutter);
  }
}

@media screen and (max-width:800px) {
  .dashboard__container {
    width:100%;
    border-radius: 0 ;

    & h1 {
      display: flex;
      justify-content: center;
      margin: auto;
      width:70%;
      font-size: x-large;
      font-weight: bold;
      color: var(--color-primary);
      padding-bottom: var(--gutter);
      border-bottom: 1px solid var(--color-primary);
    }

    .dashboard-fields__blocks {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: var(--gutter);
    }
    


    .userInfos__input-element {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: var(--gutter);
      .input-field {
        margin-left: var(--gutter);
        padding: 0.3rem;
        border-radius: 5px;
      }
    }

    .compost-infos__block {
      width: 100%;
      .compost-infos__select {
        & option {
          width: 80%;
        }
      }
    }

    


    .section-title {
      width: 80%;
      font-weight: 800;
      font-size: large;
      margin-bottom: calc(var(--gutter)*2);
      padding-bottom: var(--gutter);
      border-bottom: 1px solid var(--color-primary);
      color: var(--color-primary);
    }
  }

 

 
  
 
}

