.map {
  display:flex;
  flex-wrap: wrap;
  margin: 1em 1em;
}

.leaflet-container {
  height: 500px;
  width: 100%;
  border-radius: 10px;
}

@media (min-width:768px) {
  .leaflet-container {
    width: 50%;
  }
  .map {
    flex-wrap: nowrap;
  }
}
