.searchfield__form__container {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  & p {
    padding-bottom: 1rem;
  }
  & .searchfield__form__submit{
      border: 0;
      line-height: 2.5;
      padding: 0 20px;
      font-size: 1rem;
      text-align: center;
      color: #fff;
      text-shadow: 1px 1px 1px #000;
      border-radius: 10px;
      background-color: rgb(51, 104, 94);
      background-image: linear-gradient(to top left,
                                        rgba(0, 0, 0, .2),
                                        rgba(0, 0, 0, .2) 30%,
                                        rgba(0, 0, 0, 0));
      box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                  inset -2px -2px 3px rgba(0, 0, 0, .6);
      &:hover {
                  background-color:rgb(51, 104, 11);
      }
              
      &:active {
                  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                                inset 2px 2px 3px rgba(0, 0, 0, .6);
      }
  }

  

}
